* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/yellow\ flower.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  margin-top: 100px;
}

.container {
  position: sticky;

  padding: 2%;
  align-items: center;
  width: 400px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.74);
  height: 100%;
  border: solid 2px #000;
  border-radius: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid rgba(84, 79, 79, 0.74);
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid 84, 79, 79;
  margin-bottom: 25px;
}

button {
  background-color: rgb(237, 209, 64);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 2;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: rgb(245, 225, 125);
}

.cancelbtn,
.Signupbtn {
  float: left;
  width: 50%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
.topnav {
  margin-top: -100px;
  margin-bottom: 5%;
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: rgb(235, 210, 74);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.topnav a:hover {
  background-color: rgb(109, 104, 104);
  color: black;
}

.topnav a.active {
  background-color: rgb(236, 228, 104);
  color: black;
}
